<%
  css_col_label = "col-md-4 control-label"
  css_col_input = "col-md-8"
  type = "Statement Parser"
  is_editing = statement_parser.id.present?
  title = is_editing ? "Editing #{statement_parser.name}" : "New #{type}"
  form_url = {:controller => "statement_parsers", :action => is_editing ? 'update' : 'create'}
  form_html_opts = {:class => "form-horizontal", :data_type => "form-statement-parser"}
  submit_btn = is_editing ? "Update" : "Create"
  glyphicon = Icons::add_or_edit(is_editing)
%>
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><%= link_to("#{type}s", statement_parsers_path) %></li>
  <li class="active"><%= title %></li>
</ol>

<%= form_for(statement_parser.becomes(StatementParsers::ParserBase), :url => form_url, :html => form_html_opts) do |f| %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <i class="icon <%= Icons::STATEMENT_PARSER %>"></i>
      <%= title %>
    </div>
    <div class="panel-body">
      <%= render :partial => "layouts/form_errors_panel", :locals => {:object => statement_parser} %>
      <div class="form-group">
        <%= f.label :name, "Name:", class: css_col_label %>
        <div class="<%= css_col_input %>">
          <%= f.text_field :name, class: "form-control", :required => true %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :name, "Type:", class: css_col_label %>
        <div class="<%= css_col_input %>">
          <%= f.select :type, options_for_select(StatementParsers::ParserBase.types_for_collection, statement_parser.type), {:prompt => "<Select a #{type} Type>"}, {:class => "form-control", :required => true} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :name, "Description:", class: css_col_label %>
        <div class="<%= css_col_input %>">
          <%= f.text_area :description, class: "form-control" %>
        </div>
      </div>

      <div data-type="conditional-section" show-when-type-is="PlainTextParser">
        <div class="form-group">
          <%= f.label :name, "Regular Expression:", class: css_col_label %>
          <div class="<%= css_col_input %>">
            <div class="input-group">
              <%= f.text_field :plain_text_regex, class: "form-control" %>
              <span class="input-group-btn">
                <a class="btn btn-default" on-click-callback="regexpFormat"><i class="<%= Icons::INFO %>"></i></a>
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :name, "Date format:", class: css_col_label %>
          <div class="<%= css_col_input %>">
            <div class="input-group">
              <%= f.text_field :plain_text_date_format, class: "form-control" %>
              <span class="input-group-btn">
                <a class="btn btn-default" on-click-callback="helpRubyDateFormat"><i class="<%= Icons::INFO %>"></i></a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <button type="submit" class="btn btn-success pull-right">
        <%= submit_btn %>
        <i class="<%= glyphicon %>"></i>
      </button>
    </div>
  </div>
<% end %>
