<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Statement Parsers</li>
</ol>

<table class="<%= ApplicationController::TABLE_CLASS %> centered-except-first-col">
  <thead>
    <tr>
      <th>Parser Name</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @parsers.each do |parser| %>
      <tr>
        <td><%= link_to(parser.name, statement_parser_path(parser)) %></td>
        <td><%= parser.type %></td>
        <td class="actions">
          <%= link_to('', edit_statement_parser_path(parser), class: "icon icon-edit") %>
          <%= link_to('', statement_parser_path(parser), class: "icon icon-delete", method: :delete, data: { confirm: 'Are you sure?' }) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to(new_statement_parser_path, class: "btn btn-primary pull-right") do %>
  <i class="<%= Icons::ADD %>"></i> New Statement Parser
<% end %>
