<%
  css_col_label = "col-sm-2 col-label"
  css_col_data  = "col-sm-10"
%>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><%= link_to("Statement Parsers", statement_parsers_path) %></li>
  <li class="active"><%= @parser.name %></li>
</ol>

<div class="panel panel-primary">
  <div class="panel-heading">
    <i class="icon <%= Icons::STATEMENT_PARSER %>"></i>
    <%= @parser.name %>
  </div>
  <div class="panel-body">
    <div class="form-horizontal">
      <div class="form-group">
        <div class="<%= css_col_label %>"><label>Type</label></div>
        <div class="<%= css_col_data %>"><%= @parser.type %></div>
      </div>
      <%
        if @parser.class == StatementParsers::PlainTextParser
      %>
      <div class="form-group">
        <div class="<%= css_col_label %>"><label>RegExp</label></div>
       <div class="<%= css_col_data %>"><span class="font-pre bkgd"><%= @parser.plain_text_regex %></span></div>
      </div>
      <div class="form-group">
        <div class="<%= css_col_label %>"><label>Date format</label></div>
        <div class="<%= css_col_data %>"><span class="font-pre bkgd"><%= @parser.plain_text_date_format %></span></div>
      </div>
      <%
        end
      %>
    </div>
  </div>
  <div class="panel-footer">
    <%= link_to(edit_statement_parser_path(@parser), :class => "btn btn-success pull-right") do %>
      <i class="glyphicon glyphicon-pencil"></i> Edit Statement Parser
    <% end %>
    <%= link_to(statement_parser_path(@parser), :class => "btn btn-danger pull-right", method: :delete, data: { confirm: 'Are you sure?' }) do %>
      <i class="glyphicon glyphicon-trash"></i> Delete
    <% end %>
  </div>
</div>
