<%
  css_col_label = "col-sm-2 col-label"
  css_col_data  = "col-sm-10"
%>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><%= link_to("Category", statement_record_categories_path) %></li>
  <li class="active"><%= @category.name %></li>
</ol>

<div class="panel panel-primary">
  <div class="panel-heading">
    <i class="icon <%= Icons::STATEMENT_RECORD_CATEGORY %>"></i>
    <%= @category.name %>
  </div>
  <div class="panel-body">
    <div class="form-horizontal">
      <div class="form-group">
        <div class="<%= css_col_label %>"><label>Color</label></div>
        <div class="<%= css_col_data %>"><%= @category.color %></div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group">
        <div class="<%= css_col_label %>"><label>Icon</label></div>
        <div class="<%= css_col_data %>"><%= @category.icon %></div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group">
        <div class="<%= css_col_label %>"><label>Active</label></div>
        <div class="<%= css_col_data %>"><%= yes_no(@category.active) %></div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <%= link_to(edit_statement_record_category_path(@category), :class => "btn btn-success pull-right") do %>
      <i class="<%= Icons::EDIT %>"></i> Edit Category
    <% end %>
    <%= link_to(statement_record_category_path(@category), :class => "btn btn-danger pull-right", method: :delete, data: { confirm: 'Are you sure?' }) do %>
      <i class="<%= Icons::DELETE %>"></i> Delete
    <% end %>
  </div>
</div>
