<%
  css_col_label = "col-md-4 control-label"
  css_col_input = "col-md-8"
  type = "Stamenent"
  is_editing = bank_statement.id
  title = is_editing ? "Editing #{bank_statement.name}" : "New #{type}"
  submit_btn = is_editing ? "Update" : "Create"
  glyphicon = "glyphicon #{is_editing ? 'glyphicon-pencil' : 'glyphicon-plus'}"

  next_year = Date.today.year + 1
  years = (0..BankStatementsController::NB_YEARS-1).map{ |i| next_year-i }
%>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><%= link_to("#{type}s", bank_statements_path) %></li>
  <li class="active"><%= title %></li>
</ol>

<%= form_for(bank_statement, :html => {:class => "form-horizontal center"}) do |f| %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <i class="icon <%= Icons::BANK_ACCOUNT %>"></i>
      <%= title %>
    </div>
    <div class="panel-body">
      <%= render :partial => "layouts/form_errors_panel", :locals => {:object => bank_statement} %>

      <div class="form-group">
        <%= f.label :month, "Period:", class: css_col_label %>
        <div class="col-md-4">
          <%=
            f.select :month,
              options_for_select(@months, bank_statement.month),
              {:prompt => "<Month>"},
              {:class => "form-control", :required => true}
          %>
        </div>
        <div class="col-md-4">
          <%=
            f.select :year,
              options_for_select(years, bank_statement.year),
              {:prompt => "<Year>"},
              {:class => "form-control", :required => true}
          %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :bank_account_id, "Bank account:", class: css_col_label %>
        <div class="<%= css_col_input %>">
          <%= f.select :bank_account_id,
            options_for_select(@bank_accounts, bank_statement.bank_account_id),
            {:prompt => "<Select a Bank Account>"},
            {:class => "form-control", :required => true}
          %>
        </div>
      </div>


       <% if bank_statement.new_record? %>
          <div class="form-group">
            <%= f.label :records_text, "Records:", class: css_col_label %>
            <div class="<%= css_col_input %>">
              <%= f.text_area :records_text, class: "form-control", :required => true, :rows => 6 %>
            </div>
          </div>

          <div class="form-group">
            <label class="<%= css_col_label %>">Options:</label>
            <div class="<%= css_col_input %> cell-label">
              <div><label class="reset"><%= f.check_box :csv_parsing %> Records are provided with CSV format</label></div>
            </div>
          </div>
      <% end %>
    </div>

    <div class="panel-footer">
      <button type="submit" class="btn btn-success pull-right">
        <%= submit_btn %>
        <i class="<%= glyphicon %>"></i>
      </button>
    </div>
  </div>
<% end %>
