<%
  css_col_label = "col-sm-3 col-md-2 col-label"
  css_col_data  = "col-sm-9 col-md-10"
  if @bank_statement.bank_account.present?
    bank_account_text = link_to(@bank_statement.bank_account.name, bank_account_path(@bank_statement.bank_account))
  end
%>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><%= link_to("Statements", bank_statements_path) %></li>
  <li class="active"><%= @bank_statement.name %></li>
</ol>

<div class="panel panel-primary">
  <div class="panel-heading">
    <i class="icon <%= Icons::BANK_STATEMENT %>"></i>
    <%= @bank_statement.name %>
  </div>
  <div class="panel-body">
    <div class="form-horizontal">
      <div class="form-group">
        <div class="<%= css_col_label %>"><label>Period</label></div>
        <div class="<%= css_col_data %>"><%= @bank_statement.name %></div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group">
        <div class="<%= css_col_label %>"><label>Bank Account</label></div>
        <div class="<%= css_col_data %>"><%= bank_account_text %></div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group">
        <div class="<%= css_col_label %>"><label>Total amount</label></div>
        <div class="<%= css_col_data %>"><%= number_to_currency(@bank_statement.total_amount) %></div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group">
        <div class="<%= css_col_label %>"><label>Transactions</label></div>
        <div class="<%= css_col_data %>">
          <table class="<%= ApplicationController::TABLE_CLASS %> centered-except-first-col">
            <thead>
              <tr>
                <th class="left-aligned">Description</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @statement_records.each do |record| %>
                <tr>
                  <td class="left-aligned"><%= link_to(record.description, bank_statement_statement_record_path(record.statement_id, record)) %></td>
                  <td><%= record.date %></td>
                  <td><%= number_to_currency(record.amount) %></td>
                  <td class="actions">
                    <%= link_to('', edit_bank_statement_statement_record_path(@bank_statement, record), class: "icon icon-edit") %>
                    <%= link_to('', bank_statement_statement_record_path(@bank_statement, record), class: "icon icon-delete", method: :delete, data: { confirm: 'Are you sure?' }) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <%= link_to(edit_bank_statement_path(@bank_statement), :class => "btn btn-success pull-right") do %>
      <i class="<%= Icons::EDIT %>"></i> Edit Statement
    <% end %>
    <%= link_to(upload_csv_bank_statement_statement_records_path(@bank_statement), :class => "btn btn-primary pull-right") do %>
      <i class="<%= Icons::UPLOAD %>"></i> CSV Import
    <% end %>
    <%= link_to(bank_statement_path(@bank_statement), :class => "btn btn-danger pull-right", method: :delete, data: { confirm: 'Are you sure?' }) do %>
      <i class="<%= Icons::DELETE %>"></i> Delete
    <% end %>
  </div>
</div>