<%
  css_col_label = "col-md-3 control-label"
  css_col_input = "col-md-9"
  type = "Transaction"
  is_editing = statement_record.id.present?
  title = is_editing ? "Editing #{statement_record.name}" : "New #{type}"
  submit_btn = is_editing ? "Update" : "Create"
  glyphicon = "glyphicon #{is_editing ? 'glyphicon-pencil' : 'glyphicon-plus'}"
  transactions_link = @bank_statement.present? ? bank_statement_statement_records_path(@bank_statement) : statement_records_path
  from_opts = {:html => {:class => "form-horizontal center"}}
  from_opts[:url] = bank_statement_statement_record_path(@bank_statement, statement_record) if @bank_statement.present?
%>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <% if @bank_statement.present? %>
    <li><%= link_to(@bank_statement.name, @bank_statement) %></li>
  <% end %>
  <li><%= link_to("#{type}s", transactions_link) %></li>
  <li class="active"><%= title %></li>
</ol>

<%= form_for(statement_record, from_opts) do |f| %>
  <input type="hidden" name="statement_id" value="<%= @bank_statement.try(:id) %>" />
  <div class="panel panel-primary">
    <div class="panel-heading">
      <i class="icon <%= Icons::STATEMENT_RECORD %>"></i>
      <%= title %>
    </div>
    <div class="panel-body">
      <%= render :partial => "layouts/form_errors_panel", :locals => {:object => statement_record} %>

      <div class="form-group">
        <%= f.label :statement_id, "Statement:", class: css_col_label %>
        <div class="<%= css_col_input %>">
          <%= f.select :statement_id,
            option_groups_from_collection_for_select(@bank_accounts, :statements, :name, :id, :name, statement_record.statement_id),
            {:prompt => "<Statement>"},
            {:class => "form-control", :required => true}
          %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :date, "Date:", class: css_col_label %>
        <div class="<%= css_col_input %>">
          <%= f.text_field :date, class: "form-control", :autocomplete => :off, :placeholder => 'YYYY-MM-DD', :required => true %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description, "Description:", class: css_col_label %>
        <div class="<%= css_col_input %>">
          <%= f.text_field :description, class: "form-control", :autocomplete => :off, :required => true %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :amount, "Amount:", class: css_col_label %>
        <div class="<%= css_col_input %>">
          <%= f.text_field :amount, class: "form-control", :autocomplete => :off, :required => true %>
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <button type="submit" class="btn btn-success pull-right">
        <%= submit_btn %>
        <i class="<%= glyphicon %>"></i>
      </button>
    </div>
  </div>
<% end %>
