<%
  css_col_label = "col-sm-2 col-label"
  css_col_data  = "col-sm-10"
  bank_statement_text = link_to(@statement_record.statement.name, bank_statement_path(@statement_record.statement))
  bank_account_text   = link_to(@statement_record.bank_account.name, bank_account_path(@statement_record.bank_account))
  if @bank_statement.present?
    transactions_link = bank_statement_statement_records_path(@bank_statement)
    edit_btn_link     = edit_bank_statement_statement_record_path(@bank_statement, @statement_record)
    del_btn_link      = bank_statement_statement_record_path(@bank_statement, @statement_record)
  else
    transactions_link = statement_records_path
    edit_btn_link     = edit_statement_record_path(@statement_record)
    del_btn_link      = statement_record_path(@statement_record)
  end
  category = @statement_record.category
  category = link_to(category.name, statement_record_category_path(category)) if category.present?
%>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <% if @bank_statement.present? %>
    <li><%= link_to(@bank_statement.name, @bank_statement) %></li>
  <% end %>
  <li><%= link_to("Transactions", transactions_link) %></li>
  <li class="active"><%= @statement_record.name %></li>
</ol>

<div class="panel panel-primary">
  <div class="panel-heading">
    <i class="icon <%= Icons::STATEMENT_RECORD %>"></i>
    <%= @statement_record.name %>
  </div>
  <div class="panel-body">
    <div class="form-horizontal">
      <div class="form-group">
        <div class="<%= css_col_label %>"><label>Bank Account</label></div>
        <div class="<%= css_col_data %>"><%= bank_account_text %></div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group">
        <div class="<%= css_col_label %>"><label>Statement</label></div>
        <div class="<%= css_col_data %>"><%= bank_statement_text %></div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group">
        <div class="<%= css_col_label %>"><label>Date</label></div>
        <div class="<%= css_col_data %>"><%= @statement_record.date %></div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group">
        <div class="<%= css_col_label %>"><label>Description</label></div>
        <div class="<%= css_col_data %>"><%= @statement_record.description %></div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group">
        <div class="<%= css_col_label %>"><label>Amount</label></div>
        <div class="<%= css_col_data %>"><%= number_to_currency(@statement_record.amount) %></div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group">
        <div class="<%= css_col_label %>"><label>Category</label></div>
        <div class="<%= css_col_data %>"><%= category %></div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <%= link_to(edit_btn_link, :class => "btn btn-success pull-right") do %>
      <i class="<%= Icons::EDIT %>"></i> Edit Transaction
    <% end %>
    <%= link_to(del_btn_link, :class => "btn btn-danger pull-right", method: :delete, data: { confirm: 'Are you sure?' }) do %>
      <i class="<%= Icons::DELETE %>"></i> Delete
    <% end %>
  </div>
</div>
