<%= form_for(bank_account, :html => {:class => "form-horizontal center"}) do |f| %>
  <% if bank_account.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
      <ul>
      <% bank_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% @object = bank_account %>
  <%= render "layouts/form_errors_panel" %>

  <div class="form-group">
    <%= f.label :name, "Account name:", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :name, class: "form-control", :required => true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, "Statement parser:", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.select :statement_parser_id,
        options_for_select(@statement_parsers, bank_account.statement_parser_id),
        {:prompt => "<Select a Statement Parser>"},
        {:class => "form-control", :required => true}
      %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-success pull-right" %>
    <%= link_to bank_accounts_path, class: "btn btn-link pull-right" do %>
      <i class="glyphicon glyphicon-arrow-left"></i> Back to Accounts list
    <% end %>
  </div>
<% end %>
