<!-- Navbar -->
<nav class="navbar navbar-default _navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to(root_path, class: "navbar-brand") do %>
				<%= image_tag("logo.ico", class: "navbar-logo") %>
				My Finance App
			<% end %>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="<%= Icons::MANAGE %>"></i>
							Manage
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-header">My Account</li>
							<li><%= link_to(bank_accounts_path) do %>
								<i class="<%= Icons::BANK_ACCOUNT %>"></i>
								Bank Accounts
							<% end %></li>
							<li><%= link_to(bank_statements_path) do %>
								<i class="<%= Icons::BANK_STATEMENT %>"></i>
								Bank Statements
							<% end	%></li>
							<li><%= link_to(statement_records_path) do %>
								<i class="<%= Icons::STATEMENT_RECORD %>"></i>
								Transactions
							<% end	%></li>
							<li><%= link_to(statement_record_categories_path) do %>
								<i class="<%= Icons::STATEMENT_RECORD_CATEGORY %>"></i>
								Categories
							<% end	%></li>
							<li><%= link_to(statement_record_category_rules_path) do %>
								<i class="<%= Icons::STATEMENT_RECORD_CATEGORY_RULE %>"></i>
								Category Rules
							<% end	%></li>
							<li role="separator" class="divider"></li>
							<li><%= link_to(audits_path) do %>
								<i class="<%= Icons::AUDIT %>"></i>
								Audits
							<% end	%></li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">Settings</li>
							<li><%= link_to(statement_parsers_path) do %>
								<i class="<%= Icons::STATEMENT_PARSER %>"></i>
								Statement Parsers
							<% end	%></li>
						</ul>
					</li>
					<li><%= link_to(destroy_user_session_path, :method => :delete) do %>
						<i class="<%= Icons::LOGOUT %>"></i>
						Logout
					<% end %></li>
				<% else %>
					<li><%= link_to('Login', new_user_session_path) %></li>
				<% end %>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>
