<%
  build_version = [`git rev-parse HEAD`.strip, ENV['BUILD_VERSION']].select { |v| v.present? }.first
%>
<!DOCTYPE html>
<html>
  <head>
    <title>My Finance App</title>
    <%= favicon_link_tag 'logo.ico' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <% flash.each do |type, messages| %>
        <%
          classes_map = {
            "error" => "alert-danger",
            "alert" => "alert-warning",
            "notice" => "alert-info"
          }
          classnames = ["alert"]
          classnames += [classes_map[type]] if classes_map[type]
          messages = [messages] if messages.kind_of?(String)
        %>
        <div class="<%= classnames.join(" ") %>">
          <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
          <ul>
            <% messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <div>
      <!-- faster page load -->
      <script type="text/javascript" src="/assets/javascripts/main.js?v=<%= build_version %>"></script>
      <link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css?v=<%= build_version %>" />
    </div>
  </body>
</html>
