<%
  build_version = [`git rev-parse HEAD`.strip, ENV['BUILD_VERSION']].select { |v| v.present? }.first
  bootstrap_css_href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  bootstrap_css_sha  = "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  react_props = {
    :paths => {
      :logo => image_path("logo.ico")
    }
  }
%>
<!DOCTYPE html>
<html>
  <head>
    <title>My Finance App</title>
    <%= favicon_link_tag 'logo.ico' %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="/assets/javascripts/main.js?v=<%= build_version %>"></script>
    <link rel="stylesheet" type="text/css" href="<%= bootstrap_css_href %>" integrity="<%= bootstrap_css_sha %>" crossorigin="anonymous" />
    <!-- <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap-3.3.7.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css?v=<%= build_version %>" />
  </head>

  <body>
    <div id="app" react-props="<%= react_props.to_json %>">
      You shouldn't see that!
      <%= yield %>
    </div>
  </body>
</html>
